---
import Layout from "../Layouts/Layout.astro";
---

<Layout title="Contacto">
    <main
        class="flex flex-col items-center justify-center flex-grow px-4 py-8 space-y-12 text-center md:gap-16"
    >
        <h1 class="text-4xl font-bold">Contacto</h1>
        <p class="max-w-xl text-lg">
            Si deseas ponerte en contacto con nosotros, por favor envíanos un
            correo electrónico a
            <a href="mailto:contacto@faltapoco.com">contacto@faltapoco.com</a>.
        </p>
    </main>
</Layout>

