---

---

<footer class="footer">
    <p>
        © 2025 Falta Poco. All rights reserved. &nbsp;|&nbsp;
        <a href="/" class="footer-link">Home</a>
        &nbsp;|&nbsp;
        <a href="/sobre-nosotros" class="footer-link">Sobre nosotros</a>
        &nbsp;|&nbsp;
        <a href="/contacto" class="footer-link">Contacto</a>
        <!-- &nbsp;|&nbsp;
        <a
            href="https://www.effectivegatecpm.com/zruwk6vc?key=8571c198c5c9429c34868c1dd62fecd2"
            class="footer-link">Enlace patrocinado</a
        > -->
    </p>
    <style>
        .footer {
            text-align: center;
            padding: 1rem 0;
            background: transparent;
        }
        .footer p {
            color: #0b5fff;
            margin: 0;
            font-size: 1rem;
        }
        .footer-link {
            color: #0b5fff;
            text-decoration: none;
            transition: color 0.2s;
        }
        .footer-link:hover {
            color: #ffd43b;
        }
    </style>
</footer>
