---

---

<header
    class="text-center p-4 text-[#0B5FFF] flex flex-col md:flex-row md:justify-between items-center mt-2 mb-4 mx-4"
>
    <a
        href="/"
        class="cursor-pointer text-2xl font-bold hover:text-[#FFD43B] transition duration-200 ease-in-out"
        >Falta Poco</a
    >
    <nav
        class="space-x-0 md:space-x-4 mt-2 flex flex-col md:mt-0 6 md:flex-row md:items-center"
    >
        <a
            class="cursor-pointer text-xl hover:text-[#FFD43B] transition duration-200 ease-in-out"
            href="/mundial-2026">Mundial 2026</a
        >
        <a
            class="cursor-pointer text-xl hover:text-[#FFD43B] transition duration-200 ease-in-out"
            href="/navidad">Navidad</a
        >
        <a
            class="cursor-pointer text-xl hover:text-[#FFD43B] transition duration-200 ease-in-out"
            href="/año-nuevo">Año nuevo</a
        >
        <a
            class="cursor-pointer text-xl hover:text-[#FFD43B] transition duration-200 ease-in-out"
            href="/">Ver Todos</a
        >
    </nav>
</header>
