---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Analytics from "@vercel/analytics/astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google-adsense-account" content="ca-pub-7540156536373518" />
        <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="robots" content="index, follow" />

        <title>{title}</title>
        <slot name="head" />
    </head>
    <body class="flex flex-col min-h-screen bg-[#F6F8FB]">
        <Header />
        <slot />
        <Footer />
        <Analytics />

        <div class="ad-floating">
            <script
                type="text/javascript"
                src="//pl28100082.effectivegatecpm.com/a4/cc/f0/a4ccf0078a603bde1bd0feb50e509c4b.js"
            ></script>
        </div>

        <div class="ad-bottom">
            <script
                async
                data-cfasync="false"
                src="//pl28100099.effectivegatecpm.com/9024bc1159542df7538b15ed31484c6d/invoke.js"
            ></script>
            <div id="container-9024bc1159542df7538b15ed31484c6d"></div>
        </div>
    </body>
    <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7540156536373518"
        crossorigin="anonymous"
    ></script>
</html>
